@import "tailwindcss";
@import "tw-animate-css";


@theme {
  /* fonts */
  --font-primary: "Teko";
  --font-secondary: "Poppins";
  
  /* colors */
  --color-primary: #252525;
  --color-secondary: #6d6d6d;
  --color-accent: #cbfe01;
  --color-accent-hover: #c0ef06;

  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1536px;


}




body {
  @apply font-secondary text-secondary bg-[#f5f5f5];
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-32;
}




h1, h2, h3, h4, h5, h6 {
  @apply font-primary text-secondary;
}


h1 {
  @apply text-7xl xl:text-8xl uppercase leading-[80%];
}

h2 {
  @apply text-5xl xl:text-6xl uppercase leading-[80%];
}

h3 {
  @apply text-4xl xl:text-5xl uppercase leading-[80%];
}

h4 {
  @apply text-3xl xl:text-4xl uppercase leading-[80%];
}